* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad", system-ui;
}

/* Header Start  */
.header {
  background-color: #ffffff;
  padding: 30px 7rem;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  .header {
    background-color: #ffffff;
    padding: 10px !important;
    border: 1px solid;
  }
}

.login_button {
  background: #6ed237;
  color: #fff;
  padding: 11px 60px;
  font-size: 1.2rem !important;
  font-weight: 700;
  letter-spacing: 2px;
  font-weight: bolder;
  border: 1px solid #6ed237;
}

.login_button:hover {
  background: #fff;
  color: #6ed237;
  padding: 11px 60px;
  border: 1px solid #6ed237;
}

.header_fw {
  font-size: 1.6rem !important;
  font-weight: 700;
}

.header-logo {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-left: 1rem;
  padding-right: 0rem;
}

.header-menu a {
  font-weight: 500;
  font-size: 20px;
  font-family: "Afacad", system-ui;
}

.header-menu a:hover {
  font-weight: 700;
  font-size: 20px;
  font-family: "Afacad", system-ui;
}

.header-menu .nav-link {
  position: relative;
  padding-bottom: 5px;
}

.header-menu .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 1);
  transition: width 0.3s ease;
}

.header-menu .nav-link:hover::after {
  width: 100%;
}

@media screen and (max-width: 380px) and (min-width: 320px) {
  .header-logo {
    max-width: 120px;
  }

  .navbar-toggler .button {
    max-width: 150px;
  }
}

/* Header End  */

/* banner start  */

.banner {
  background: linear-gradient(180deg, #77ff0023, #ecf4e318, #ffffff2d),
    url("../images/banner_draw_bg.webp") center no-repeat;
  background-size: cover;
}

.banner_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px 0 20px;
}

.heading_banner {
  font-family: "Afacad", system-ui;
  font-size: 2rem;
  font-weight: normal;
}

.sub_heading {
  font-size: 3.5rem;
  font-weight: bold;
}

.safe_delivery {
  color: #95f70d;
}

.additional_heading {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
}

.btn_booknow {
  background: #80dc00;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #80dc00;
  padding: 10px 60px;
}

.btn_booknow:hover {
  background: #fff !important;
  color: #80dc00;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #80dc00;
  padding: 10px 60px;
}

@media screen and (max-width: 768px) {
  .heading_banner {
    font-family: "Afacad", system-ui;
    font-size: 1.5rem;
    font-weight: normal;
  }

  .sub_heading {
    font-size: 2.2rem;
    font-weight: bold;
  }

  .additional_heading {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
  }

  .btn_booknow {
    background: #80dc00;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #80dc00;
    padding: 10px 40px;
  }

  .btn_booknow:hover {
    background: #fff !important;
    color: #80dc00;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #80dc00;
    padding: 10px 40px;
  }
}

/* banner end  */

/* who we are start  */
.who_we_are {
  padding: 40px;
}

.who_we_are .who_heading {
  font-size: 26px;
  font-weight: 600;
}

.who_we_are .who_sub_heading {
  font-size: 52px;
  font-weight: 600;
  color: #80dc00;
}

.who_we_are .who_sub_content {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

@media screen and (max-width: 768px) {
  .who_we_are .who_heading {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .who_we_are .who_sub_heading {
    font-size: 32px;
    font-weight: 600;
    color: #80dc00;
    text-align: center;
  }

  .who_we_are .who_sub_content {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-align: center;
  }
}

.who_icons {
  color: #80dc00;
  font-size: 1.5rem;
  padding: 0 5px;
}

.who_icons_text {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
}

/* who we are end   */

/* why trcuklah start  */
.why_trucklah {
  padding: 40px 0;
}

.why_section_card_col {
  padding: 30px;
}

.card_img_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.why_heading {
  font-size: 3rem;
  font-weight: 600;
  color: #80dc00;
  padding-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .why_heading {
    font-size: 2rem;
    font-weight: 600;
    color: #80dc00;
    padding-bottom: 5rem;
    text-align: center;
  }

  .card_img_icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .why_card_title {
    color: #80dc00;
    text-align: center;
    font-size: 1.5rem;
  }

  .why_card_sub_title {
    color: #333;
    text-align: center;
    padding: 0 15px;
    font-size: 1rem;
    font-weight: 600;
  }

  .position_icons {
    position: relative;
    top: 0 !important;
    padding: 10px 0;
  }

  .cardcontents {
    position: relative;
    top: 0 !important;
    padding: 10px 0;
  }
}

.why_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2fae9;
  border: none;
  padding: 0 1rem;
}

.why_card_title {
  color: #80dc00;
  text-align: center;
  font-size: 1.7rem;
}

.why_card_sub_title {
  color: #333;
  text-align: center;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: 600;
}

.position_icons {
  position: relative;
  top: -50px;
}

.cardcontents {
  position: relative;
  top: -30px;
}

/* why trcuklah end  */

/* footer start  */
.footer {
  background-color: #333;
  padding: 15px 0;
}

.footer-conent {
  color: #acff3b;
  background-color: #333333;
  padding: 15px 0;
}

.connect_heading {
  color: #333333 !important;
  font-size: 52px;
  font-weight: 700;
  line-height: 69.33px;
  text-align: left;
}

.connect {
  padding: 0 0 40px 0 !important;
}

/* / form / */
.connect .footer-form {
  background: none !important;
  border: none;
  border-bottom: 1px solid #333333 !important;
  border-radius: 0;
  font-weight: 700;
  margin: 1.8rem 0;
  box-shadow: none !important;
  text-align: start !important;
  padding: 24px 0;
}

@media screen and (max-width: 425px) {
  .input-colum {
    width: 100% !important;
    margin-bottom: 15px;
  }

  .footer-title {
    margin: 0 auto 15px auto;
  }

  .links {
    text-align: center !important;
    display: flex;
    justify-content: center;
  }

  .links2 {
    text-align: center !important;
  }

  .footer-links {
    padding: 0 !important;
  }

  .footer-links .links2 {
    display: flex !important;
    justify-content: center !important;
  }

  .footer-links {
    color: white;
  }

  .footer-links a {
    color: white;
  }

  .footer-links .links {
    padding: 0;
    cursor: pointer;
  }

  .footer-links .links2 {
    padding: 0;
    cursor: pointer;
  }

  .headings {
    text-align: center;
  }

  .headings img {
    display: none;
  }

  .send_btn {
    text-align: center;
  }

  .conect_heading {
    text-align: center;
    line-height: 2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .connect .footer-form {
    background: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    font-weight: 700;
    margin: 0;
    box-shadow: none !important;
    text-align: start !important;
    padding: 18px 0;
  }

  .conect_heading {
    margin-top: 0 !important;
  }

  .connect .footer-btn {
    border: 1px solid;
    padding: 12px 45px !important;
    font-weight: 500;
    align-items: center !important;
    margin-top: 40px !important;
  }
}

@media (max-width: 992px) {
  .footer .row {
    display: flex;
    flex-direction: row;
  }
}

.connect .footer-btn {
  border: 1px solid;
  padding: 12px 45px !important;
  font-weight: 500;
  margin-top: 10px;
}

.connect .footer-btn:hover {
  border: 1px solid;
  background-color: #333 !important;
  color: black !important;
  padding: 12px 45px !important;
  font-weight: 500;
  margin-top: 10px;
}

.conect_heading {
  margin-top: 8rem;
  line-height: 4rem;
}

.footer-title {
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  top: 2px;
  color: #fff;
}

.underline_img {
  position: absolute;
}

.footer-links .links {
  margin: 30px 0;
  padding: 5px;
  cursor: pointer;
}

.footer-links .links2 {
  margin: 30px 0;
  padding: 0px;
  cursor: pointer;
  color: #fff;
}

.footer-links .links2 a {
  color: #fff;
}

.line-divider i {
  padding: 0 9px;
}

.footer_input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  color: #fff;
}

.footer_input::placeholder {
  color: #fff;
}

.footer_submit {
  background-color: #333;
  color: white;
  width: 70%;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: #333 solid 1px;
}

.footer .card_img {
  width: 100px;
  height: auto;
}

/* footer end   */

.SuccessMagnetSubHeading {
  color: #333;
  font-size: 26px;
  font-weight: 600 !important;
}

.successMagnetButton {
  background-color: #95f70d;
  color: #333;
  font-weight: 600;
  position: relative;
}

.successMagnetButton:hover {
  background-color: #80dc00;
  color: #333 !important;
}

.errorMagnetSubHeading {
  font-size: 18px !important;
}

.errorMobile {
  font-size: 26px !important;
  font-weight: 700 !important;
}

/* Lazyloader */
.lazyload {
  opacity: 0;
  transition: opacity 0.3s;
}

.lazyloaded {
  opacity: 1;
}

/* Lazyloader */

.banner_middle_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.banner_midle {
  text-align: center;
  width: 200px;
}

.banner_middle_image {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 100px;
}

.banner_midle_tittle {
  font-size: 18px;
  font-weight: bold;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  position: relative;
  top: -50px;
}

.faq_body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('/assets//images/shipping_done_image.webp') no-repeat center center fixed;
  /* Replace with your image path */
  background-size: cover;
  color: #fff;
}

.faq-container {
  /* max-width: 800px; */
  /* margin: 50px auto; */
  /* padding: 20px; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* Black background with transparency */
  /* border-radius: 10px; */
}

h2 {
  text-align: center;
  color: #b7ff00;
}

.faq-item {
  margin-bottom: 15px;
}

.accordion {
  /* background-color: #000; */
  color: #b7ff00 !important;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.accordion:hover {
  background-color: #444;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #333;
  border-radius: 5px;
  margin-top: 5px;
  overflow: hidden;
}

.panel p {
  padding: 10px 0;
  color: #ccc;
}

.moving-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-content h1 {
  font-size: 24px;
  color: #333;
  font-weight: normal;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 36px;
  color: #56c134;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.call-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #56c134;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.call-button:hover {
  background-color: #45a523;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

.faq_accordion {
  background: transparent !important;
  border: 1px solid #56c134;
  border-radius: 10px;
}

.faq_content {
  background: url(/assets/images/accordion.jpg) center no-repeat;
  background-size: contain;


}

.faq_accordion .accordion-header {
  background: transparent !important;
}